@charset "UTF-8";
/* base */
/* --------------------------------- */
body {
  overflow-x: hidden;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic", "Segoe UI", Verdana, Meiryo, sans-serif;
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* module（共通アイテム） */
/* --------------------------------- */
/* サイトtitle */
.m-site__ttl {
  font-weight: 900;
  font-size: 3.5rem;
}

.m-site__ttl .m-site__ttl-red {
  color: #e60a17;
}

@media screen and (max-width: 480px) {
  .m-site__ttl {
    margin-left: 1.25rem;
    font-size: 2rem;
  }
}

/* セクションtitle */
.m-ttl {
  position: relative;
  margin-bottom: 6.5625rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.5rem;
}

@media screen and (max-width: 780px) {
  .m-ttl {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .m-ttl {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 480px) {
  .m-ttl {
    margin-bottom: 1.875rem;
    font-size: 2.5rem;
  }
}

/* 下層ページ用button */
.m-more__btn {
  display: inline-block;
  padding: .75em 2.5em;
  border: 1px solid #333;
}

.m-more__btn a {
  display: block;
}

.m-more__btn.more__btnSP {
  opacity: .5;
}

.m-induction__icon {
  display: block;
  padding: 2em 1em;
  background: #fff;
  color: #5a93ff;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-weight: 300;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

@media screen and (max-width: 1000px) {
  .m-induction__icon {
    padding: 1.5em 1em;
    font-size: 0.875rem;
  }
}

/* utility（便利スタイル） */
/* --------------------------------- */
.u-wrap {
  max-width: 85rem;
  padding: 0 3.75rem 0 5rem;
}

@media screen and (max-width: 600px) {
  .u-wrap {
    padding: 0 1.875rem 0 3.75rem;
  }
}

@media screen and (max-width: 1200px) {
  .br-none {
    display: none;
  }
}

/* -------------- header ------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 5rem;
  background-color: #fff;
}

.header .header-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 2.3125rem 1.875rem;
}

.header .header-inner .header__icon {
  margin-bottom: 0.625rem;
}

.header .header-inner .header-fixed__copy {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

/* 以下、ハンバーガーメニュー */
.hamburgerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 1.875rem;
  height: 1.375rem;
}

.hamburgerbtn-line {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: .5s;
}

.hamburgerbtn-line::before, .hamburgerbtn-line::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #333;
  transition: .5s;
}

.hamburgerbtn-line::before {
  width: 80%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburgerbtn-line::after {
  width: 70%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hamburgerbtn-line::before, .hamburgerbtn-line::after {
  content: "";
  position: absolute;
}

.hamburgerbtn-line.open::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hamburgerbtn-line.open::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hamburger-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 5rem;
  z-index: 10;
}

.hamburger-wrap .hamburger__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.9);
  color: #fff;
  transition: .3s;
}

.hamburger-wrap .hamburger__nav .hamburger__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hamburger-wrap .hamburger__nav .hamburger__list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  text-align: center;
  line-height: 50%;
}

.hamburger-wrap .hamburger__nav .hamburger__list a:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: .3s;
}

@media screen and (max-width: 600px) {
  .header {
    width: 3.75rem;
  }
  .header .header-inner {
    padding: 2.3125rem 0.625rem;
  }
  .hamburger-wrap {
    left: 3.75rem;
  }
}

/* -------------- hero ------------------- */
.hero {
  position: relative;
  width: calc(100vw - 80px);
  height: 100%;
  overflow: hidden;
}

.hero .hero__ttl {
  position: absolute;
  top: 10px;
  z-index: 5;
}

.hero .hero__carousel {
  position: relative;
  z-index: 3;
  width: calc(100vw - 80px);
  overflow: hidden;
}

.hero .hero__carousel .hero__carousel-area .hero__carousel-list img {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
  /*IE対策*/
}

.hero .hero-induction__icon {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 10;
}

.hero .hero-induction__icon .hero-induction__arrow {
  display: block;
  position: relative;
  width: 1px;
  height: 40px;
  margin-top: 0.625rem;
  background-color: #5a93ff;
}

.hero .hero-induction__icon .hero-induction__arrow::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 1px;
  height: 8px;
  background-color: #5a93ff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero .hero-induction__icon .hero-induction__arrow::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -3px;
  width: 1px;
  height: 8px;
  background-color: #5a93ff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hero .concept-wrap {
  position: absolute;
  bottom: 3.75rem;
  left: 2.5rem;
  z-index: 5;
  font-size: 3.125rem;
}

.hero__carousel::before {
  content: "";
  position: absolute;
  top: 100%;
  left: -500px;
  z-index: 2;
  width: 200vw;
  height: 200vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

@media screen and (min-width: 1500px) {
  .hero {
    height: 100vh;
  }
  .hero .hero__carousel {
    height: 100vh;
  }
}

@media screen and (max-width: 1000px) {
  .hero .concept-wrap {
    bottom: 1.875rem;
    left: 1.25rem;
    font-size: 2rem;
  }
  .hero .hero__carousel::before {
    top: 120%;
  }
  .hero .hero-induction__icon .hero-induction__arrow {
    height: 30px;
    margin-top: 0.3125rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    width: calc(100vw - 60px);
    height: 50%;
  }
  .hero .hero__carousel {
    width: calc(100vw - 60px);
  }
  .hero .concept-wrap {
    bottom: 1.25rem;
    left: 0.625rem;
    font-size: 1.5rem;
  }
  .hero .hero__carousel::before {
    left: -400px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  .hero .hero-induction__icon {
    bottom: -10px;
  }
  .hero .hero-induction__icon .hero-induction__arrow {
    height: 30px;
    margin-top: 0.3125rem;
  }
}

@media screen and (max-width: 480px) {
  .hero .concept-wrap {
    left: 0.625rem;
    font-size: 1.125rem;
  }
  .hero .hero__carousel::before {
    top: 100%;
    left: -300px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  .hero .hero-induction__icon {
    display: none;
  }
}

/* -------------- current ------------------- */
.current {
  position: fixed;
  top: 0;
  right: 0;
}

.current .current-inner {
  display: flex;
  align-items: center;
  width: 3.75rem;
  height: 100vh;
  padding: 3.75rem 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.current .current-inner .current__list {
  margin-bottom: 1rem;
}

.current .current-inner .current__list a {
  font-size: 0.75rem;
}

@media screen and (max-width: 600px) {
  .current .current-inner {
    width: 1.875rem;
    padding: 2.5rem 0;
  }
}

/* -------------- message ------------------- */
.message {
  padding: 5.625rem 0 15.625rem;
}

.message .message-ttl::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.625rem;
  margin-top: 0.625rem;
  background-color: #fd6620;
}

.message .message-wrap {
  display: flex;
}

.message .message-wrap .message__theme {
  margin-right: 3.75rem;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.2;
}

.message .message-wrap .message__txt-wrap .message__txt {
  width: 100%;
  margin-bottom: 2.5rem;
  line-height: 2;
}

@media screen and (max-width: 1360px) {
  .message .message-wrap .message__theme {
    font-size: 3.75rem;
  }
  .message .message__txt-wrap {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .message {
    padding: 3.75rem 0 6.25rem;
  }
  .message .message-wrap .message__theme {
    margin-right: 1.25rem;
    font-size: 3.125rem;
  }
}

@media screen and (max-width: 780px) {
  .message {
    padding: 3.75rem 0 6.25rem;
  }
  .message .message-wrap {
    display: flex;
    flex-direction: column;
  }
  .message .message-wrap .message__theme {
    margin: 0 0 1.25rem 0;
    font-size: 3.125rem;
  }
  .message .message-wrap .message__txt-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .message .message-wrap .message__theme {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .message .message-wrap .message__theme {
    font-size: 1.625rem;
  }
}

/* -------------- business ------------------- */
.business-ttl::after {
  content: "";
  display: block;
  margin-top: 0.625rem;
  font-weight: normal;
  font-size: 0.875rem;
}

.business__card {
  position: relative;
  counter-increment: number;
}

.business__card::before {
  content: counter(number, decimal-leading-zero);
}

/* -------------- works ------------------- */
.works .works-ttl::after {
  content: "";
  display: block;
  margin-top: 0.625rem;
  font-weight: normal;
  font-size: 0.875rem;
}

.works .carousel {
  position: relative;
  width: 100vw;
  height: 37.5rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.works .carousel .carousel.erase {
  padding-bottom: 0;
}

.works .carousel .carousel-area {
  display: flex;
  position: absolute;
  /* widthはjsで代入 */
  height: 100%;
}

.works .carousel .carousel-area .carousel-list {
  width: 25rem;
  height: 31.25rem;
  margin-right: 1.875rem;
  background-color: #2a187a;
}

@media screen and (max-width: 600px) {
  .works .carousel {
    width: 90vw;
    height: 25rem;
  }
  .works .carousel .carousel-list {
    width: 18.75rem;
    height: 25rem;
    margin-right: 0.5rem;
  }
}

/* -------------- instagram ------------------- */
.instagram-ttl::after {
  content: "";
  display: block;
  margin-top: 0.625rem;
  font-weight: normal;
  font-size: 0.875rem;
}

.instagram-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.instagram-wrap .instagram__content {
  width: calc((100% - 20px * 2 ) / 3);
  height: 18.75rem;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #9e2828;
}

.instagram-wrap .instagram__content:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .instagram-wrap {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .instagram-wrap .instagram__content {
    width: 80%;
    height: 18.75rem;
    margin: 0 auto 20px;
    background-color: #9e2828;
  }
  .instagram-wrap .instagram__content:nth-child(3n) {
    margin: 0 auto 20px;
  }
}

/* -------------- produce ------------------- */
.produce-ttl::after {
  content: "";
  display: block;
  margin-top: 0.625rem;
  font-weight: normal;
  font-size: 0.875rem;
}

.produce-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.produce-wrap .produce__content {
  width: calc((100% - 20px * 3 ) / 4);
  height: 12.5rem;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #9e2828;
}

.produce-wrap .produce__content:nth-child(4n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .produce-wrap {
    display: block;
  }
  .produce-wrap .produce__content {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto 20px;
    background-color: #9e2828;
  }
  .produce-wrap .produce__content:nth-child(4n) {
    margin: 0 auto 20px;
  }
}

/* -------------- contact ------------------- */
.contact-ttl {
  text-align: center;
}

.contact-ttl::after {
  content: "";
  display: block;
  margin-top: 0.625rem;
  font-weight: normal;
  font-size: 0.875rem;
}

/* -------------- footer ------------------- */
.footer {
  background-color: #413f3f;
  color: #fff;
}

.footer__inner {
  margin: 0 auto;
}
