/* -------------- business ------------------- */
.business {
	.business-ttl::after {
		content: "";
		display: block;
		width: rem(80);
		height: rem(10);
		margin-top: rem(10);
		background-color: $business-color;
	}

	.business__card-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.business__card {
			position: relative;
			width: 100%;
			width: rem(400);
			margin: 0 0 rem(60) rem(40);
			counter-increment: number;

			&-img {
				width: 100%;
				height: rem(300);
				background-color: #ddd;
			}
			&-ttl {
				display: flex;
				flex-direction: column;
				position: relative;
				margin: rem(20) 0;
				color: $business-color;
				font-weight: 600;
				font-size: rem(24);
			}
			&-ttl::before {
				content: counter(number , decimal-leading-zero);
				margin: 0 0 6px 7px;
				color: #333;
				font-weight: 400;
				font-size: rem(14);
			}
			&-ttl::after {
				content: "";
				position: absolute;
				top: 14px;
				left: 0;
				width: 5px;
				height: 1px;
				background-color: $business-color;
			}

			&-txt {
				font-size: rem(14);
				line-height: 1.7;
			}
		}
		.business__card:nth-child(1) {
			margin: 0 0 rem(60) 0;
		}
		.business__card:nth-child(3n+1) {
			margin: 0 0 rem(60) 0;
		}
	}
}

@media screen and (max-width: 1440px) {
	.business {
		.business__card-wrap {
			.business__card {
				width: rem(350);
				&-img {
					height: calc(350px * .75);
				}
			}
			.business__card:nth-child(1) {
				margin: 0 0 rem(60) rem(40);
			}
			.business__card:nth-child(3n+1) {
				margin: 0 0 rem(60) rem(40);
			}
		}
	}
}
@include mq(pc) {
	.business {
		.business__card-wrap {
			.business__card {
				width: rem(300);
				&-img {
					height: calc(300px * .75);
				}
			}
		}
	}
}

@media screen and (max-width: 840px) {
	.business {
		.business__card-wrap {
			.business__card {
				margin: 0 auto rem(50);
			}
			.business__card:nth-child(1) {
				margin: 0 auto rem(50);
			}
			.business__card:nth-child(3n+1) {
				margin: 0 auto rem(50);
			}
		}
	}
}
