/* -------------- business ------------------- */
.business-ttl::after {
	content: "";
	display: block;
	margin-top: rem(10);
	font-weight: normal;
	font-size: rem(14);
}

.business__card {
	position: relative;
	counter-increment: number;
}
.business__card::before {
	content: counter(number , decimal-leading-zero);
}
