/* -------------- current ------------------- */
.current {
	position: fixed;
	top: 0;
	right: 0;

	.current-inner {
		display: flex;
		align-items: center;
		width: rem(60);
		height: 100vh;
		padding: rem(60) 0;
		writing-mode: vertical-lr; // 縦書き

		.current__list {
			margin-bottom: rem(16);
			a {
				font-size: rem(12);
			}
		}
	}
}

@include mq(tab) {
	.current {
		.current-inner {
			width: rem(30);
			padding: rem(40) 0;
		}
	}
}
