/* -------------- current ------------------- */
.current {
	position: fixed;
	top: 80px;
	right: 0;
	z-index: 11;

	.current-inner {
		display: flex;
		align-items: center;
		width: rem(80);
		height: 100vh;
		padding: rem(60) 0;
		writing-mode: vertical-lr;
		.current__list {
			margin-bottom: rem(16);
			transition: .3s;
			a {
				text-transform: capitalize;
				font-size: rem(12);
			}
		}
		.current__list a {
			opacity: .6;
		}
	}
}

@include mq(tab) {
	.current {
		right: 10px;
		.current-inner {
			width: rem(30);
			padding: rem(30) 0;
		}
	}
}

.link-current {
	color: red;
}
