/* -------------- current ------------------- */
.current {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;

	.current-inner {
		display: flex;
		align-items: center;
		width: rem(80);
		height: 100vh;
		padding: rem(60) 0;
		writing-mode: vertical-lr; // 縦書き

		.current__list {
			margin-bottom: rem(16);
			a {
				text-transform: capitalize;
				font-size: rem(12);
			}
		}
	}
}

@include mq(tab) {
	.current {
		.current-inner {
			width: rem(30);
			padding: rem(30) 0;
		}
	}
}

.link-current {
	color: red;
}
// .message--active {
// 	color: $message-color;
// }
// .business--active {
// 	color: $business-color;
// }
// .works--active {
// 	color: $works-color;
// }
// .instagram--active {
// 	color: $instagram-color;
// }

// .produce--active {
// 	color: $produce-color;
// }
// .contact--active {
// 	color: $contact-color;
// }
