/* -------------- footer ------------------- */
.footer {
	// width: 100vw;
	// margin: 0 calc(50% - 50vw);
	background-color: #413f3f;
	color: #fff;

	&__inner {
		// max-width: rem(1000);
		margin: 0 auto;
	}
}
