/* -------------- header ------------------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: rem(80);

	.header-inner {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100vh;
		padding: rem(37) 0;

		.header__icon {
			margin-bottom: rem(10);
		}

		.header-fixed__copy {
			writing-mode: vertical-rl; // 縦書き
		}
	}
}

// 以下、ハンバーガーメニュー
.hamburgerbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	// ボタンの大きさ
	width: rem(30);
	height: rem(80);
}

// 真ん中のバーガー線
.hamburgerbtn-line {
	position: relative;
	width: 100%;
	height: 3px;
	background-color: #333;
	transition: .5s;
}

// 上下のバーガー線
.hamburgerbtn-line::before , .hamburgerbtn-line::after {
	content: "";
	position: absolute;
	height: 100%;
	background-color: #333;
	transition: .5s;
}

// 上の線の位置
.hamburgerbtn-line::before {
	width: 80%;
	transform: translateY(-10px);
}

// 下の線の位置
.hamburgerbtn-line::after {
	width: 70%;
	transform: translateY(10px);
}

// メニューオープン時
.hamburgerbtn-line::before , .hamburgerbtn-line::after {
	content: "";
	position: absolute;
}

.hamburgerbtn-line.open::before {
	transform: translateY(0);
}

.hamburgerbtn-line.open::after {
	transform: translateY(0);
}

// メニュー
.hamburger-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 80px;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: $ovelay-color;

	.hamburger-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50vw;
		height: 100%;
		background-color: $hamburgerBg-color;
		color: $hamburgerFont-color;
		transition: .3s;
	}

	.hamburger-inner {
		width: 100%;
		height: 70%;
	}

	.hamburger__nav {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		.hamburger__list {
			width: 100%;
			height: 100%;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				text-align: center;
				transition: all .5s;
			}
			a:hover {
				background-color: #fff;
				color: #333;
				cursor: pointer;
				transition: all .3s;
			}
		}
	}
}

@include mq(tab) {
	.header {
		width: rem(40);
	}

	.hamburger-overlay {
		left: rem(40);
	}
}
