/* -------------- header ------------------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: rem(80);

	.header-inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100vh;
		padding: rem(37) rem(30);

		.header__icon {
			margin-bottom: rem(10);
		}

		.header-fixed__copy {
			writing-mode: vertical-rl; // 縦書き
		}
	}
}



/* 以下、ハンバーガーメニュー */
.hamburgerbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	// ボタンの大きさ
	width: rem(30);
	height: rem(22);
}

// 真ん中のバーガー線
.hamburgerbtn-line {
	position: relative;
	width: 100%;
	height: 3px;
	background-color: #333;
	transition: .5s;
}

// 上下のバーガー線
.hamburgerbtn-line::before , .hamburgerbtn-line::after {
	content: "";
	position: absolute;
	height: 100%;
	background-color: #333;
	transition: .5s;
}

// 上の線の位置
.hamburgerbtn-line::before {
	width: 80%;
	transform: translateY(-10px);
}

// 下の線の位置
.hamburgerbtn-line::after {
	width: 70%;
	transform: translateY(10px);
}

// メニューオープン時
.hamburgerbtn-line::before , .hamburgerbtn-line::after {
	content: "";
	position: absolute;
}

.hamburgerbtn-line.open::before {
	transform: translateY(0);
}

.hamburgerbtn-line.open::after {
	transform: translateY(0);
}

// メニュー
.hamburger-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: rem(80);
	z-index: 10;
}

.hamburger__nav {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 50vw;
	height: 100vh;
	background-color: $hamburgerBg-color;
	color: $hamburgerFont-color;
	transition: .3s;
}

.hamburger__list {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50%;
		text-align: center;
		line-height: 50%;
	}
	a:hover {
		background-color: #fff;
		color: #333;
		cursor: pointer;
		transition: .3s;
	}
}
