/* -------------- hero ------------------- */
.hero {
	position: relative;
	width: calc(100vw - 80px);
	height: 100%;
	overflow: hidden;

	&__ttl {
		position: absolute;
		top: 10px;
		z-index: 5;
	}

	// カルーセル
	&__carousel {
		position: relative;
		z-index: 3;
		width: calc(100vw - 80px);
		overflow: hidden;
		&-area {
			&-list {
				img {
					object-fit: cover;
					font-family: "object-fit: cover;";  /*IE対策*/
				}
			}
		}
	}

	// スクロール誘導
	.hero-induction__icon {
		display: flex;
		align-items: center;
		position: absolute;
		right: 10px;
		bottom: 0;
		z-index: 10;

		.hero-induction__arrow {
			display: block;
			position: relative;
			width: 1px;
			height: 40px;
			margin-top: rem(10);
			background-color: $scrollFont-color;
		}
		.hero-induction__arrow::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 3px;
			width: 1px;
			height: 8px;
			background-color: $scrollFont-color;
			transform: rotate(45deg);
		}
		.hero-induction__arrow::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: -3px;
			width: 1px;
			height: 8px;
			background-color: $scrollFont-color;
			transform: rotate(135deg);
		}
	}

	// コンセプトメッセージ
	.concept-wrap {
		position: absolute;
		bottom: rem(60);
		left: rem(40);
		z-index: 5;
		font-size: rem(50);
	}
}

// 装飾背景
.hero__carousel::before {
	content: "";
	position: absolute;
	top: 100%;
	left: -500px;
	z-index: 2;
	width: 200%;
	height: 100%;
	overflow: hidden;
	background-color: rgba($color: #fff, $alpha: .25);
	transform: rotate(-30deg);
	transform-origin: left top;
}

@media screen and (min-width: 1500px) {
	.hero {
		height: 100vh;
		&__carousel {
			height: 100vh;
		}
	}
}

@include mq(pc) {
	.hero {
		.concept-wrap {
			bottom: rem(30);
			left: rem(20);
			font-size: rem(32);
		}
		.hero__carousel::before {
			top: 120%;
		}

		.hero-induction__icon {
			.hero-induction__arrow {
				height: 30px;
				margin-top: rem(5);
			}
		}
	}
}

@include mq(tab) {
	.hero {
		width: calc(100vw - 40px);
		height: 50%;
		&__carousel {
			width: calc(100vw - 40px);
		}
		.concept-wrap {
			bottom: rem(20);
			left: rem(10);
			font-size: rem(24);
		}
		.hero__carousel::before {
			left: -400px;
			transform: rotate(-20deg);
		}

		.hero-induction__icon {
			bottom: -10px;
			.hero-induction__arrow {
				height: 30px;
				margin-top: rem(5);
			}
		}
	}
}

@include mq(sp) {
	.hero {
		.concept-wrap {
			left: rem(10);
			font-size: rem(18);
		}
		.hero__carousel::before {
			top: 100%;
			left: -200px;
			width: 200%;
			transform: rotate(-15deg);
		}
		.hero-induction__icon {
			display: none;
		}
	}
}
