/* -------------- message ------------------- */
.message {
	position: relative;
	padding-top: rem(90);

	.message-ttl::after {
		content: "";
		display: block;
		width: rem(80);
		height: rem(10);
		margin-top: rem(10);
		background-color: $message-color;
	}

	.message-wrap {
		max-width: 100%;
		.message__txt-wrap {
			max-width: rem(840);
			margin-left: calc(100% - 840px);
			.message__txt {
				margin-bottom: rem(40);
				counter-increment: number;
				line-height: 2;

				.message__sub-ttl {
					color: #fd6620;
					font-weight: 600;
				}
				.message__sub-ttl::before {
					content: counter(number);
					margin-right: 8px;
				}
			}
		}
	}
}

.message__theme {
	margin-bottom: rem(80);
	font-weight: 500;
	font-size: rem(72);
	line-height: 1.2;
}

// safari 対策
_::-webkit-full-page-media , :root .message__theme {
	font-weight: 400;
}

// 背景
.message::before {
	content: "";
	position: absolute;
	top: 0;
	left: 80px;
	z-index: -1;
	width: calc(100vw - 80px);
	height: 110%;
	margin: 0 calc(50% - 50vw);
	background-color: rgba(219, 218, 218, .5);
	transform: skewY(-25deg);
	transform-origin: bottom left;
}

.message::after {
	content: "";
	position: absolute;
	bottom: 100px;
	left: 0;
	z-index: -2;
	width: 100vw;
	height: 200%;
	margin: 0 calc(50% - 50vw);
	background-color: #fafafa;
	transform: skewY(25deg);
	transform-origin: bottom left;
}



@include mq(full) {
	.message {
		.message-wrap {
			.message__theme {
				font-size: rem(60);
			}
		}
		.message__txt-wrap {
			width: 70%;
		}
	}
}

@include mq(pc) {
	.message {
		padding-top: rem(60);
		.message-wrap {
			.message__theme {
				margin-right: rem(20);
				font-size: rem(50);
			}

			.message__txt-wrap {
				margin-left: rem(100);
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.message {
		.message-wrap {
			display: flex;
			flex-direction: column;
			.message__txt-wrap {
				width: 100%;
				margin-left: 0;
				padding: 0 rem(30);
				.message__txt {
					margin-bottom: rem(40);
				}
			}
		}
	}
}

@include mq(tab) {
	.message {
		.message-wrap {
			.message__theme {
				margin-right: 0;
				margin-bottom: rem(50);
				font-size: rem(32);
			}
		}
	}
	.message::before {
		content: "";
		position: absolute;
		top: -200px;
		left: 0;
		z-index: -1;
		width: 100vw;
		height: 110%;
		background-color: rgba(219, 218, 218, .5);
		transform: skewY(-25deg);
		transform-origin: bottom left;
	}

	.message::after {
		content: "";
		position: absolute;
		bottom: 100px;
		left: 0;
		z-index: -2;
		width: 100vw;
		height: 200%;
		background-color: #fafafa;
		transform: skewY(25deg);
		transform-origin: bottom left;
	}
}

@include mq(sp) {
	.message {
		.message-wrap {
			.message__theme {
				font-size: rem(22);
			}
			.message__txt-wrap {
				padding: 0 rem(15);
				.message__txt {
					margin-bottom: rem(40);
				}
			}
		}
	}
}
