/* -------------- produce ------------------- */
.produce {
	position: relative;
	padding-bottom: rem(350);
	.produce-ttl::after {
		content: "";
		display: block;
		width: rem(80);
		height: rem(10);
		margin-top: rem(10);
		background-color: $produce-color;
	}

	.produce-wrap {
		display: flex;
		justify-content: space-between;
		max-width: rem(880);
		margin: 0 auto;

		.produce__item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: rem(400);
			height: rem(280);
			margin-bottom: rem(20);
			background-color: #fff;
			transition: .5s;

			.produce__logo {
				width: rem(160);
				height: rem(140);
				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.produce__content {
			transition: .5s;
		}
		.produce__content:hover {
			.produce__item {
				background-color: #dedede;
				opacity: .7;
			}
			.produce__about {
				text-decoration: underline;
			}
		}

		.produce__about {
			text-align: center;
			font-size: rem(18);
		}
	}
}

// 背景
.produce::before {
	content: "";
	position: absolute;
	top: -100px;
	left: 80px;
	z-index: -1;
	width: calc(100vw - 80px);
	height: 80%;
	margin: 0 calc(50% - 50vw);
	background-color: rgba(221, 221, 221, .7);
	transform: skewY(10deg);
	transform-origin: bottom left;
}


@include mq(pc) {
	.produce {
		padding-bottom: rem(300);
		.produce-wrap {
			width: 100%;
			.produce__content {
				width: 100%;
				.produce__item {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 95%;
					height: rem(250);

					.produce__logo {
						width: rem(120);
						height: rem(100);
						img {
							width: 100%;
							height: auto;
						}
					}
				}

				.produce__about {
					text-align: center;
					font-size: rem(18);
				}
			}
		}
	}
}

@include mq(tab) {
	.produce {
		padding-bottom: rem(200);
		.produce-wrap {
			display: flex;
			flex-direction: column;
			.produce__content {
				width: 100%;
				margin-bottom: rem(50);
				.produce__item {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80%;
					height: rem(250);
					margin: 0 auto rem(20);
				}
			}
		}
	}
	.produce::before {
		content: "";
		position: absolute;
		top: -100px;
		left: 0;
		z-index: -1;
		width: 100vw;
		height: 80%;
		background-color: rgba(221, 221, 221, .7);
		transform: skewY(10deg);
		transform-origin: bottom left;
	}
}

@include mq(sp) {
	.produce {
		padding-bottom: rem(100);
		.produce-wrap {
			.produce__content {
				.produce__item {
					width: 100%;
					height: rem(200);
					margin: 0 auto rem(20);
				}
			}
		}
	}
}
