//・・・・・・・ フォント ・・・・・・・
// 基本テキストカラー
$baseFont-color: #333;

//・・・・・・・ セクションタイトル装飾カラー ・・・・・・・
$message-color: #fd6620;
$business-color: #258c98;
$works-color: #ff4a88;
$instagram-color: #bfe633;
$produce-color: #fff962;
$contact-color: #fd6620;
$recruit-color: #fd6620;

//・・・・・・・ 背景 ・・・・・・・
$bg-color: #fafafa;

//・・・・・・・ ハンバーガーメニュー ・・・・・・・
// ハンバーガーアイコンテキスト
$hamburgerFont-color: #fff;
// ハンバーガーメニュー背景
$hamburgerBg-color: rgba(#222, .9);
$ovelay-color: rgba(#333, .9);

//・・・・・・・ スクロール誘導ボタン ・・・・・・・
$scrollBg-color: #fff;
$scrollFont-color: #5a93ff;

//・・・・・・・ フォントファミリー ・・・・・・・
// ベーステキスト
$fontFamily: -apple-system,
BlinkMacSystemFont,
Roboto,
"Segoe UI",
"Helvetica Neue",
HelveticaNeue,
YuGothic,
"Yu Gothic Medium",
"Yu Gothic",
Verdana,
Meiryo,
sans-serif;

//・・・・・・・ ベースフォントサイズ ・・・・・・・
$baseFontsize: 16;

//・・・・・・・ ブレイクポイント ・・・・・・・
$mq-breakpoints: ("xs": 320px, "sp": 480px, "tab": 600px, "pc" : 1000px, "full": 1360px);
