.recruit__ttl {
	position: relative;
}
.recruit__ttl::after {
	content: "採用情報";
	position: absolute;
	bottom: -30px;
	left: 50%;
	color: $recruit-color;
	font-weight: 400;
	font-size: rem(16);
	transform: translateX(-50%);
}

.recruit-question {
	position: relative;
	margin: rem(100) 0 rem(80);
	font-weight: 900;
	font-size: rem(72);
}

.recruit-answer {
	position: relative;
	margin-bottom: rem(160);
	letter-spacing: .09em;
	font-weight: 600;
	font-size: rem(24);
	line-height: 2em;
}

.recruit__about-container {
	position: relative;
	max-width: rem(840);
	margin-left: rem(440);
	font-size: rem(18);
	line-height: 2em;

	.recruit__about-wrap {
		margin-bottom: rem(160);

		.recruit-aboutttl {
			position: relative;
			margin-bottom: rem(40);
			font-size: rem(32);
		}
		.recruit-aboutttl::after {
			content: "";
			display: block;
			width: rem(80);
			height: rem(4);
			margin-top: rem(20);
			background-color: $recruit-color;
		}

		.recruit-txtblock {
			margin-bottom: rem(40);
		}

		// 番号付きリスト
		.recruit-num__list {
			counter-increment: number;
		}
		.recruit-num__list::before {
			content: counter(number)".";
			display: inline-block;
			margin-right: .3em;
		}

		// 番号無しリスト
		.recruit-about__list::before {
			content: "・";
		}

		// descriptionリスト
		.recruit-term__list {
			color: $recruit-color;
		}
	}
	.recruit-term__list::before {
		content: "■";
	}

	.recruit-description__list {
		margin-bottom: rem(40);
	}

	// 外部リンク
	.recruit-link {
		color: $recruit-color;
		font-weight: 600;
		font-size: rem(18);
		transition: .3s;
	}

	.recruit-arrow {
		display: inline-block;
		position: relative;
		top: -6px;
		width: 80px;
		height: 2px;
		margin-left: 10px;
		background-color: $recruit-color;
		transform-origin: left;
		transition: all .3s;
	}
	.recruit-arrow::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: 3px;
		width: 8px;
		height: 2px;
		background-color: $recruit-color;
		transform: rotate(45deg);
	}
	.recruit-arrow::after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: -3px;
		width: 8px;
		height: 2px;
		background-color: $recruit-color;
		transform: rotate(-45deg);
	}

	.recruit-link:hover {
		opacity: .5;

		.recruit-arrow {
			transform: scaleX(1.2);
		}
	}
}

//背景1
.recruit-question::before {
	content: "";
	position: absolute;
	top: 250px;
	left: 0;
	z-index: -2;
	width: 100vw;
	height: 1600px;
	margin: 0 calc(50% - 50vw);
	background-color: #f5f5f5;
	transform: skewY(17deg);
	transform-origin: bottom left;
}
.recruit-question::after {
	content: "";
	position: absolute;
	top: 380px;
	left: 80px;
	z-index: -1;
	width: calc(100vw - 80px);
	height: 1000px;
	margin: 0 calc(50% - 50vw);
	background-color: rgba(236, 236, 236, .5);
	transform: skewY(-10deg);
	transform-origin: bottom right;
}

//背景2
.recruit-answer::before {
	content: "";
	position: absolute;
	top: 2750px;
	left: 0;
	z-index: -2;
	width: 100vw;
	height: 650px;
	margin: 0 calc(50% - 50vw);
	background-color: #f5f5f5;
	transform: skewY(17deg);
	transform-origin: bottom left;
}

.recruit-answer::after {
	content: "";
	position: absolute;
	top: 2400px;
	left: 80px;
	z-index: -1;
	width: calc(100vw - 80px);
	height: 1150px;
	margin: 0 calc(50% - 50vw);
	background-color: rgba(236, 236, 236, .5);
	transform: skewY(-10deg);
	transform-origin: bottom right;
}

// 背景3
.recruit-wrap {
	position: relative;
}
.recruit-wrap::before {
	content: "";
	position: absolute;
	top: 4300px;
	left: 80px;
	z-index: -1;
	width: calc(100vw - 80px);
	height: 750px;
	margin: 0 calc(50% - 50vw);
	background-color: rgba(236, 236, 236, .5);
	transform: skewY(-10deg);
	transform-origin: bottom right;
}

@include mq(pc) {
	.recruit-question {
		position: relative;
		margin: rem(80) 0 rem(60);
		font-weight: 900;
		font-size: rem(56);
	}

	.recruit__about-container {
		position: relative;
		max-width: rem(840);
		margin-left: rem(100);
		font-size: rem(18);
		line-height: 2em;
	}
}

@include mq(tab) {
	.recruit__about-container {
		position: relative;
		max-width: rem(840);
		margin-left: 0;
		font-size: rem(16);
		line-height: 2em;
	}

	.recruit-question {
		position: relative;
		margin: rem(80) 0 rem(40);
		font-size: rem(40);
	}

	.recruit-answer {
		position: relative;
		margin-bottom: rem(100);
		font-size: rem(20);
		line-height: 1.6em;
	}

	.recruit__about-wrap {
		margin-bottom: rem(60);
	}

	//背景1
	.recruit-question::before {
		content: "";
		position: absolute;
		top: 250px;
		left: -15px;
		z-index: -2;
		width: 100vw;
		height: 1600px;
		margin: 0 calc(50% - 50vw);
		background-color: #f5f5f5;
		transform: skewY(17deg);
		transform-origin: bottom left;
	}
	.recruit-question::after {
		content: "";
		position: absolute;
		top: 380px;
		left: -15px;
		z-index: -1;
		width: 100vw;
		height: 1000px;
		margin: 0 calc(50% - 50vw);
		background-color: rgba(236, 236, 236, .5);
		transform: skewY(-10deg);
		transform-origin: bottom right;
	}

	//背景2
	.recruit-answer::before {
		content: "";
		position: absolute;
		top: 2750px;
		left: -15px;
		z-index: -2;
		width: 100vw;
		height: 650px;
		margin: 0 calc(50% - 50vw);
		background-color: #f5f5f5;
		transform: skewY(17deg);
		transform-origin: bottom left;
	}

	.recruit-answer::after {
		content: "";
		position: absolute;
		top: 2400px;
		left: -15px;
		z-index: -1;
		width: 100vw;
		height: 1150px;
		margin: 0 calc(50% - 50vw);
		background-color: rgba(236, 236, 236, .5);
		transform: skewY(-10deg);
		transform-origin: bottom right;
	}

	// 背景3
	.recruit-wrap {
		position: relative;
	}
	.recruit-wrap::before {
		content: "";
		position: absolute;
		top: 4300px;
		left: -15px;
		z-index: -1;
		width: 100vw;
		height: 750px;
		margin: 0 calc(50% - 50vw);
		background-color: rgba(236, 236, 236, .5);
		transform: skewY(-10deg);
		transform-origin: bottom right;
	}
}


@include mq(sp) {
	.recruit__about-container {
		.recruit__about-wrap {
			.recruit-aboutttl {
				font-size: rem(24);
			}
		}
	}

	.recruit-question {
		position: relative;
		margin: rem(80) 0 rem(40);
		font-size: rem(28);
	}

	.recruit-answer {
		position: relative;
		margin-bottom: rem(100);
		font-size: rem(18);
		line-height: 1.3em;
	}
}
