/* module（共通アイテム） */
/* --------------------------------- */

/* サイトtitle */
.m-site__ttl {
	font-weight: 900;
	font-size: rem(56);
	.m-site__ttl-red {
		color: #e60a17;
	}
}

@include mq(sp) {
	.m-site__ttl {
		margin-left: rem(20);
		font-size: rem(32);
	}
}

/* セクションtitle */
.m-ttl {
	position: relative;
	margin-bottom: rem(105);
	text-transform: uppercase;  // 全ての文字を大文字に
	font-weight: 600;
	font-size: rem(72);
}

@media screen and (max-width: 780px) {
	.m-ttl {
		margin-bottom: rem(40);
	}
}
@include mq(tab) {
	.m-ttl {
		font-size: rem(60);
	}
}
@include mq(sp) {
	.m-ttl {
		margin-bottom: rem(30);
		font-size: rem(40);
	}
}


/* 下層ページ用button */
.m-more__btn {
	display: inline-block;
	padding: .75em 2.5em;
	border: 1px solid #333;

	a {
		display: block;
	}
}

// タッチ端末hover
// jQueryでタップ時.more__btnSPクラスを付与
.m-more__btn.more__btnSP {
	opacity: .5;
}

// スクロール誘導アイコン
.m-induction__icon {
	display: block;
	padding: 2em 1em;
	background: $scrollBg-color;
	color: $scrollFont-color;
	text-transform: uppercase;  // 全ての文字を大文字に
	letter-spacing: .08em;
	font-weight: 300;
	writing-mode: vertical-rl; // 縦書き
}

@include mq(pc) {
	.m-induction__icon {
		padding: 1.5em 1em;
		font-size: rem(14);
	}
}



/* utility（便利スタイル） */
/* --------------------------------- */
// 全体コンテナ要素
.u-wrap {
	max-width: rem(1360);
	padding: 0 rem(60) 0 rem(80);
}

@include mq(tab) {
	.u-wrap {
		padding: 0 rem(30) 0 rem(60);
	}
}

// 改行
@media screen and (max-width: 1200px) {
	.br-none {
		display: none;
	}
}
