.b-works {
	position: relative;
}

.tab-container {
	margin: rem(154) 0 rem(80);

	.tab {
		display: inline-block;
		position: relative;
		width: rem(100);
		// margin-right: rem(20);
		padding: rem(10) 0;
		text-align: center;
	}
	.tab::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: rem(100);
		border-bottom: 2px solid #efefef;
	}
	.tab.tab-current::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: rem(100);
		border-bottom: 2px solid $works-color;
	}
}

// ページネーション
.page-numwrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: rem(96);

	// 矢印
	.page-num__arrow {
		display: block;
		position: relative;
		width: 60px;
		height: 1px;
		background-color: $works-color;
	}
	// 左
	.page-num__arrow:first-child::before {
		content: "";
		display: block;
		position: absolute;
		bottom: 4px;
		left: 0;
		width: 8px;
		height: 1px;
		background-color: $works-color;
		transform: rotate(135deg);
	}
	.page-num__arrow:first-child::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 8px;
		height: 1px;
		background-color: $works-color;
		transform: rotate(-135deg);
	}
	// 右
	.page-num__arrow:last-child::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: 4px;
		width: 8px;
		height: 1px;
		background-color: $works-color;
		transform: rotate(45deg);
	}
	.page-num__arrow:last-child::after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: -4px;
		width: 8px;
		height: 1px;
		background-color: $works-color;
		transform: rotate(-45deg);
	}

	// ナンバーリスト
	.page-num__list {
		display: flex;
	}

	.page-num {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(48);
		height: rem(48);
		margin-right: rem(20);
		border: 1px solid $works-color;
		color: $works-color;
	}

	.page-num:first-child {
		margin-left: rem(40);
	}
	.page-num:last-child {
		margin-right: rem(40);
	}

	// 表示中のページ
	.page-num.displaying {
		border: 1px solid $works-color;
		background-color: $works-color;
		color: #fff;
	}
}
